body{
  background-color: rgb(243, 243, 224);
}

.calculator {
  border: 1px solid;
  margin: 100px;
  width: 250px;
}

.display {
  height: 60px;
  background-color: rgb(136, 132, 132);
  color: white;
  position: relative;
}

.para {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  font-size: 30px;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0px;
  background-color: rgb(130, 74, 156);
}

.btn {
  height: 45px;
  border-radius: 10px;
  border: 1px solid;
  background-color: rgb(204, 92, 204);
  font-size: 20px;
}

.btn:hover {
  background-color: rgb(186, 147, 223);
}

.equalsto {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: rgb(233, 45, 45);
}

.equalsto:hover {
  background-color: rgb(230, 159, 53);
}